html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}


.Information {

}

.Info-Left,
.Info-Center,
.Info-Right {
    display: flex;
}

.Information-icon {
    font-size: 14px;
    line-height: 38px;
}

.Info-Hotline,
.Info-Address {
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 38px;
    margin-left: 10px;
}



.Info-Left > i,
.Info-Center > i {
    margin-left: 30px;
}

.Info-Right {
    justify-content: space-around;
}

#Navigation {
    background-color: #9E1D1D;
    width: 100%;
    height: 70px;
}


.img-brand {
    height: 60%;
    margin: 12px 0 0 30px;
}

.Nav-List {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.Nav-item {
    line-height: 70px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.Nav-item a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    
}

.Nav-Contact {
    width: 80%;
    height: 50%;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin: 10px 0 0 30px;
    font-size: 18px;
}

.Nav-Contact a {
    text-decoration: none;
    font-weight: bold;
    color: #000;

}

#Slider {
    margin-top: 10px;
}

#Slider a img {
    width: 100%;
}