html {
    margin: 50px 50px 0;
    background-color: antiquewhite;
}

h2 {
    background: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

table, tr, td, th {
    border-collapse: separate;
    border: 1px inset #3300ff;
    width: 450px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

table tr th {
    background:  #660066;
    color: #fff;
    height: 50px;
    font-size: 15px;
}

.canhgiua {
    text-align: center;
    background: #660066;
    color: #fff;
    width: 10%;
}
